/* 
CHANGE TITLE FONT TO EXO2, ARGENT
CHANGE EVENT CONTENT FONT TO CATAMARAN
https://www.elegantthemes.com/blog/resources/professional-fonts-for-upscale-web-designs#:~:text=30%20Professional%20Fonts%20for%20Upscale%20Web%20Designs%201,9%20Exo%202.%2010%20Signika.%20More%20items 
*/

/* 
font-family: 'Catamaran', sans-serif;
font-family: 'Exo 2', sans-serif;
*/

/* ----- Nav Bar CSS ----- */
#nav-mobile {
  float: right;
  display: flex;
}

#nav-item a {
  font-family: "Exo 2", sans-serif;
  color: #fdf8f5;
}
#top-navbar {
  width: 100%;
  background-color: #4f4846;
}
/* ----- End Nav Bar ----- */

/* ----- Sign Up Modal CSS ----- */
#modal-signup {
  background-color: #ffedd1;
}

#modal-signup div h4 {
  font-family: "Exo 2", sans-serif;
}

#modal-signup div form div label {
  font-family: "Catamaran", sans-serif;
}
/* ----- End Sign Up Modal ----- */

/* ----- Login Modal CSS ----- */
#modal-login {
  background-color: #ffedd1;
}

#modal-login div h4 {
  font-family: "Exo 2", sans-serif;
}

#modal-login div form div label {
  font-family: "Catamaran", sans-serif;
}
/* ----- End Login Modal ----- */

/* ----- Account Info Modal CSS ----- */
#modal-account {
  background-color: #ffedd1;
}

#modal-account div h4 {
  font-family: "Exo 2", sans-serif;
}

#modal-account div div {
  font-family: "Catamaran", sans-serif;
}
/* ----- End Account Modal Info ----- */

/* ----- Create Event Modal CSS ----- */
#modal-create {
  background-color: #ffedd1;
}

#modal-create div h4 {
  font-family: "Exo 2", sans-serif;
}

#modal-create div form div label {
  font-family: "Catamaran", sans-serif;
}
/* ----- End Create Event Modal ----- */

/* ----- HTML Event Container -----*/
#event-container {
}

/* ----- Event Content CSS ----- */
#event-title {
  font-family: "Exo 2", sans-serif;
  /* border-radius: 10px 10px 0px 0px; */
}

#event-content {
  font-family: "Catamaran", sans-serif;
}
/* ----- End Event Content ----- */

/* ----- Edit Event Modal CSS ----- */
#modal-edit {
  background-color: #ffedd1;
}

#modal-edit div h4 {
  font-family: "Exo 2", sans-serif;
}

#modal-edit div form div label {
  font-family: "Catamaran", sans-serif;
}
/* ----- End Edit Event Modal ----- */

.wrapper {
  width: 100%;
}

#logged-out-content {
  width: 100%;
}

/* ----- Carousel CSS ----- */

.carousel {
  width: 100% !important;
  height: 400px;
}
.carousel-slider .carousel-item {
  width: 100% !important;
  left: 0px;
  top: 0px;
}
.carousel .carousel-item a {
  
}

/* ----- footer edits ----- */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e8cebf;
}

main {
  flex: 1 0 auto;
}

/* ----- Eventi Introduction Content ----- */
#logged-in-intro {
  margin-top: 40px;
  width: 45%;
  float: left;
  background-color: #ffe0b2;
  border-radius: 15px;
}
#intro-content {
  padding-left: 10px;
}
#intro-content h3 {
  font-size: 36px;
  font-family: "Exo 2", sans-serif;
}
#intro-content h5 {
  font-size: 22px;
  font-family: "Exo 2", sans-serif;
}
#intro-content p {
  font-size: 16px;
  font-family: "Catamaran", sans-serif;
}
#intro-content ul {
  font-family: "Catamaran", sans-serif;
}
#logged-in-events {
  float: right;
  width: 45%;
}
/* ----- End Eventi Introduction Content ----- */

/* ----- Welcome Content -----  */
#welcome-title {
  background-color: #266150;
  width: 35%;
  margin-left: 32.5%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 10px 10px 5px grey;
}
#welcome-title h2 {
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: "Exo 2", sans-serif;
  font-size: 68px;
  color: #fdf8f5;
}
#welcome-info {
  background-color: #266150;
  width: 60%;
  margin-left: 20%;
  border-radius: 15px;
  box-shadow: 10px 10px 5px grey;
}
#welcome-info p {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 25px 25px 25px 25px;
  font-family: "Catamaran", sans-serif;
  font-size: 22px;
  color: #fdf8f5;
}
/* ----- End Welcome Content -----  */

@media all and (max-width: 500px) {
  /* ----- Logged In Items ----- */
  #logged-in-intro {
    float: none;
    width: 90%;
    margin-left: 5%;
  }
  #logged-in-events {
    float: none;
    width: 90%;
    margin-left: 5%;
  }
  .carousel {
    width: 100% !important;
  }
  .carousel .carousel-item {
    width: 100vh !important;
  }

  /* ----- Logged Out Items ----- */
  #welcome-title {
    width: 90%;
    margin-left: 5%;
  }
  #welcome-info {
    width: 85%;
    margin-left: 7.5%;
  }
}

@media all and (max-width: 810px) {
  /* ----- Logged Out Items ----- */
  #welcome-title {
    width: 80%;
    margin-left: 10%;
  }
  #welcome-info {
    width: 70%;
    margin-left: 15%;
  }
}
