/* 
CHANGE TITLE FONT TO EXO2, ARGENT
CHANGE EVENT CONTENT FONT TO CATAMARAN
https://www.elegantthemes.com/blog/resources/professional-fonts-for-upscale-web-designs#:~:text=30%20Professional%20Fonts%20for%20Upscale%20Web%20Designs%201,9%20Exo%202.%2010%20Signika.%20More%20items 
*/

/* 
font-family: 'Catamaran', sans-serif;
font-family: 'Exo 2', sans-serif;
*/

/* ----- Nav Bar CSS ----- */
#nav-mobile {
  float: right;
  display: flex;
}

#nav-item a {
  font-family: "Exo 2", sans-serif;
  color: #fdf8f5;
}
#top-navbar {
  width: 100%;
  background-color: #4f4846;
}
/* ----- End Nav Bar ----- */

/* ----- Sign Up Modal CSS ----- */
#modal-signup {
  background-color: #ffedd1;
}

#modal-signup div h4 {
  font-family: "Exo 2", sans-serif;
}

#modal-signup div form div label {
  font-family: "Catamaran", sans-serif;
}
/* ----- End Sign Up Modal ----- */

/* ----- Login Modal CSS ----- */
#modal-login {
  background-color: #ffedd1;
}

#modal-login div h4 {
  font-family: "Exo 2", sans-serif;
}

#modal-login div form div label {
  font-family: "Catamaran", sans-serif;
}
/* ----- End Login Modal ----- */

/* ----- Account Info Modal CSS ----- */
#modal-account {
  background-color: #ffedd1;
}

#modal-account div h4 {
  font-family: "Exo 2", sans-serif;
}

#modal-account div div {
  font-family: "Catamaran", sans-serif;
}
/* ----- End Account Modal Info ----- */

/* ----- Create Event Modal CSS ----- */
#modal-create {
  background-color: #ffedd1;
}

#modal-create div h4 {
  font-family: "Exo 2", sans-serif;
}

#modal-create div form div label {
  font-family: "Catamaran", sans-serif;
}
/* ----- End Create Event Modal ----- */

/* ----- HTML Event Container -----*/
#event-container {
}

/* ----- Event Content CSS ----- */
#event-title {
  font-family: "Exo 2", sans-serif;
  /* border-radius: 10px 10px 0px 0px; */
}

#event-content {
  font-family: "Catamaran", sans-serif;
}
/* ----- End Event Content ----- */

/* ----- Edit Event Modal CSS ----- */
#modal-edit {
  background-color: #ffedd1;
}

#modal-edit div h4 {
  font-family: "Exo 2", sans-serif;
}

#modal-edit div form div label {
  font-family: "Catamaran", sans-serif;
}
/* ----- End Edit Event Modal ----- */

/* ----- DropDown CSS ----- */

/* ----- Footer CSS ----- */
html body {
  min-height: 130vh;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9.5em;
  color: rgb(175, 152, 155);
}

.carousel .carousel-item {
  width: 425px !important;
}

/* ----- footer edits ----- */
body {
  display: flex;

  min-height: 100vh;
  flex-direction: column;
  background-color: #e8cebf;
}
footer-wrap {
  width: 100%;
  font-size: 14px;
}
.page-footer {
  background-color: #9b7b7b;
}

main {
  flex: 1 0 auto;
}

/* ----- Eventi Introduction Content ----- */
#logged-in-intro {
  margin-top: 40px;
  width: 45%;
  float: left;
  background-color: #ffe0b2;
  border-radius: 15px;
}
#intro-content {
  padding-left: 10px;
}
#intro-content h3 {
  font-size: 36px;
  font-family: "Exo 2", sans-serif;
}
#intro-content h5 {
  font-size: 22px;
  font-family: "Exo 2", sans-serif;
}
#intro-content p {
  font-size: 16px;
  font-family: "Catamaran", sans-serif;
}
#intro-content ul {
  font-family: "Catamaran", sans-serif;
}
#logged-in-events {
  float: right;
  width: 45%;
}
/* ----- End Eventi Introduction Content ----- */

/* ----- Welcome Content -----  */
#welcome-title {
  background-color: #266150;
  width: 35%;
  margin-left: 32.5%;
  text-align: center;
  border-radius: 15px;
}
#welcome-title h2 {
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: "Exo 2", sans-serif;
  font-size: 68px;
  color: #fdf8f5;
}
#welcome-info {
  background-color: #266150;
  width: 60%;
  margin-left: 20%;
  border-radius: 15px;
}
#welcome-info p {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 25px 25px 25px 25px;
  font-family: "Catamaran", sans-serif;
  font-size: 22px;
  color: #fdf8f5;
}
/* ----- End Welcome Content -----  */

.wrapper {
  width: 100%;
}

@media all and (max-width: 500px) {
  /* ----- Logged In Items ----- */
  #logged-in-intro {
    float: none;
    width: 90%;
    margin-left: 5%;
  }
  #logged-in-events {
    float: none;
    width: 90%;
    margin-left: 5%;
  }

  /* ----- Logged Out Items ----- */
  #welcome-title {
    width: 90%;
    margin-left: 5%;
  }
  #welcome-info {
    width: 85%;
    margin-left: 7.5%;
  }
}

@media all and (max-width: 810px) {
  /* ----- Logged Out Items ----- */
  #welcome-title {
    width: 80%;
    margin-left: 10%;
  }
  #welcome-info {
    width: 70%;
    margin-left: 15%;
  }
}

/* #background-img {
  background-image: url("https://www.bing.com/images/search?view=detailV2&ccid=z7jX+vGp&id=9B230D721487F6450FEC931719D11E9AE3500F3D&thid=OIP.z7jX-vGpXaliobQEdMriDAFCDB&mediaurl=https%3A%2F%2Fliveengegament.files.wordpress.com%2F2017%2F06%2Fhouse-outdoor-party1.jpg%3Fw%3D1200&exph=722&expw=1200&q=outdoor+event&simid=608052947606769458&ck=F9CECF3AD94F226DAED3A028016F2CBF&selectedindex=92&form=EX0023&ajaxhist=0&adlt=demote&shtp=GetUrl&shid=3234d8dc-b2b9-43d1-9c63-6fccaa6abedd&shtk=VGhpbmdzIFRvIENvbnNpZGVyIFdoaWxlIEFycmFuZ2luZyBBIEhvdXNlIE91dGRvb3IgUGFydHkgLi4u&shdk=Rm91bmQgb24gQmluZyBmcm9tIGxpdmVlbmdlZ2FtZW50LndvcmRwcmVzcy5jb20%3D&shhk=r0NxP0Wp%2FLNe34JpXTplBszkrX11K%2Fpz3X7eG1l8rHw%3D&shth=OSH.mJKkzFVyAvxcjOpR1AZm0g");
} */
